/* auth */

.panel-title {
	padding: 10px 0;
}
.form-control {
	height: 40px;
	padding: 12px 12px;
}
.checkbox {
	margin-top: 0;
}
.password_search {
	margin: 0 0 10px 0;
}
.icon {
	float: left;
	margin-right: 7px;
}
.social-login a {
	display: inline-block;
}
.social-login span {
	display: block;
	float: left;
	line-height: 31px;
}
.btn-naver {
	color: #fff !important;
	background-color: #00c63b;
	border-color: #00c63b;
}
.btn-naver:hover {
	background-color: #09a137;
	border-color: #09a137;
}
.btn-facebook {
	color: #fff !important;
	background-color: #3c5b9b;
	border-color: #3c5b9b;
}
.btn-facebook:hover {
	background-color: #274178;
	border-color: #274178;
}
.btn-google {
	color: #fff !important;
	background-color: #f63d27;
	border-color: #f63d27;
}
.btn-google:hover {
	background-color: #c73322;
	border-color: #c73322;
}
.icon-naver {
	display: block;
	width: 31px;
	height: 31px;
	background: url('../images/sns_logo.png') -36px 0 no-repeat;
}
.icon-facebook {
	display: block;
	width: 31px;
	height: 31px;
	background: url('../images/sns_logo.png') 0 0 no-repeat;
}
.icon-google {
	display: block;
	width: 31px;
	height: 31px;
	background: url('../images/sns_logo.png') -71px 0 no-repeat;
}