.panel-title {
	padding: 10px 0;
}
.form-control {
	height: 40px;
	padding: 12px 12px;
}
.form-group {
	margin-bottom: 10px;
}
.checkbox {
	margin-top: 0;
}
.password_search {
	margin: 0 0 10px 0;
}
@media (max-width: 325px) {
	.checkbox,
	.password_search {
		font-size: 13px;
	}
}
.icon {
	float: left;
	margin-right: 7px;
}
.social-login a {
	display: inline-block;
}
.social-login span {
	display: block;
	float: left;
	line-height: 31px;
}
.btn-naver {
	color: #fff !important;
	background-color: #00c63b;
	border-color: #00c63b;
}
.btn-naver:hover {
	background-color: #09a137;
	border-color: #09a137;
}
.btn-kakao {
	color: #3b1e1e !important;
	background-color: #f9e000;
	border-color: #f9e000;
}
.btn-kakao:hover {
	background-color: #d4c009;
	border-color: #d4c009;
}
.btn-facebook {
	color: #fff !important;
	background-color: #3c5b9b;
	border-color: #3c5b9b;
}
.btn-facebook:hover {
	background-color: #274178;
	border-color: #274178;
}
.btn-google {
	color: #fff !important;
	background-color: #f63d27;
	border-color: #f63d27;
}
.btn-google:hover {
	background-color: #c73322;
	border-color: #c73322;
}
.icon-naver {
	display: block;
	width: 31px;
	height: 31px;
	background: url('../images/sns_logo.png') -36px 0 no-repeat;
}
.icon-kakao {
	display: block;
	width: 31px;
	height: 31px;
	background: url('../images/sns_logo.png') -108px 0 no-repeat;
}
.icon-facebook {
	display: block;
	width: 31px;
	height: 31px;
	background: url('../images/sns_logo.png') 0 0 no-repeat;
}
.icon-google {
	display: block;
	width: 31px;
	height: 31px;
	background: url('../images/sns_logo.png') -72px 0 no-repeat;
}

/* point */
#pt .box {
	padding: 15px;
	border-radius: 5px;
	background: #fff;
	text-align: center;
	line-height: 1.3;
	border: 1px solid #d8d8d8;
}
#pt .mypoint {
	margin: 0;
}
#pt .mypoint_num {
	font-weight: 800;
	color: #587ef6;
	font-size: 33px;
	letter-spacing: -1px;
}
#pt .table .total {
	border-top: 2px solid #d8d8d8;
	font-weight: 600;
	background: #fff;
}
.pt_con {
	text-align: left;
}

/* welcome */
.welc_box {
	width: 100%;
	padding: 30px;
	background: #fff;
	border: 4px solid #587ef6;
	font-size: 13px;
	line-height: 1.7;
}
.welc_box .btn {
	margin-top: 10px;
}
.welc_title {
	font-size: 22px; font-weight: bold;
	color: #587ef6;
	margin-bottom: 20px;
}
.welc_email {
	padding: 0;
	margin: 10px 0;
	width: 100%;
	display: inline-block
}
.welc_email:after {
	content: '';
	display: block;
	clear: both;
}
.welc_email li {
	list-style: none;
	float: left;
	border: 1px solid #d8d8d8;
	padding: 15px;
	width: 100%;
	height: auto;
	border-radius: 0;
}
.welc_email li.label {
	width: 140px;
	font-size: 13px;
	color: #333;
	text-align: left;
	background: #e8eded;
	border-right: 0;
	line-height: 33px;
}
.welc_email li.email {
	width: calc(100% - 140px);
	border-left: 0;
	line-height: 11px;
}
.welc_email li.email p {
	font-size: 13px;
	font-weight: bold;
}
.welc_email li.email span {
	font-size: 11px;
	font-weight: normal;
	color: ;
}
.welc_email strong {
	color: #587ef6;
	font-weight: bold;
}

/* 회원정보수정 */
.frm_file {
	border: 1px solid #e4eaec;
	font-size: 13px;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	background: #f7f7f7;
}
.usericon {
	display: inline-block; padding: 7px; border: 1px solid #d8d8d8; border-radius: 4px;
}
.usericon img {
	font-size: 0;
}
.btn_frmline {
	height: 40px;
}
/* 주소검색 버튼 */
.formaddr {
	display:none;
	border:1px solid;
	width:100%;
	height:450px;
	margin:0 0 10px;
	position:relative
}

/* 회원가입약관 */
#fregister_term,
#fregister_private {
	margin-bottom: 20px;
}
#fregister_term h2,
#fregister_private h2 {
	font-size: 13px;
	margin: 0 0 10px;
	font-weight: bold;
}
#fregister_term textarea,
#fregister_private textarea {
	width: 100%;
	border: 1px solid #e9e9e9;
	background: #f7f7f7;
	line-height: 1.7;
	font-size: 13px;
	border-radius: 4px;
	padding: 15px;
	height: 150px;
}
#fregister_private {
	margin-bottom: 20px;
}
.fregister_agree {
	display: block;
	font-size: 12px;
	text-align: right;
	margin: 5px 0;
}
.fregister_agree label {
}
.fregister_agree input[type=checkbox] {
	vertical-align: middle;
	margin: 0 0 0 5px;
}