/* common */
.bg-sir {
    background-color: #587ef6 !important;
    color: #fff !important;
}
.bd_head {
    vertical-align: bottom;
    font-weight: 600;
    clear: both;
    font-size: 0;
    margin-bottom: 10px;
}
.bd_head a {
    display: inline-block;
    line-height: 20px;
    font-size: 18px;
}
.bd_head a:hover {
    text-decoration: underline !important;
}
.bd_head:before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 13px;
    font-weight: normal;
    margin-right: 8px;
    line-height: 20px;
    vertical-align: top;
    display: inline-block;
}
.bd_head .ca_name {
    font-size: 18px;
    color: #587ef6;
}
.bd_head .ca_name:before {
    content: "/";
    margin: 0 5px;
    color: #aaa;
    font-weight: normal;
}
.bd_count {
    float: left;
    line-height: 34px;
    font-weight: normal;
}
.bd_btn {
    padding: 0;
    margin-bottom: 10px;
    float: right;
}
.bd_btn:after {
    content: '';
    display: block;
    clear: both;
}
.bd_btn ul {
    padding: 0;
    margin-bottom: 0;
}
.bd_btn ul li {
    list-style: none;
    float: left;
    margin-right: 5px;
}
.bd_btn ul li:last-child {
    margin-right: 0;
}
.bd_btn ul:after {
    content: '';
    display: block;
    clear: both;
}
.bd_btn span {
    line-height: 34px; font-size: 14px;
}
.bd_adm li {
    width: 100%;
    margin: 0;
}
.bd_adm input {
    border: 0;
    background: none;
    width: 100%;
    text-align: left;
    padding: 3px 20px;
}
.bd_adm input:hover {
    background: #f5f5f5;
}

/* sideview icon & nick */
.tt_icon {
    display:inline-block;
    width:22px;
    height: 22px;
}
.tt_icon img {
    width: 22px;
    height: 22px;
    vertical-align: top;
}
.tt_nick {
    line-height:22px;
    vertical-align: top;
    color: #333;
}
.tt_nick a {
    color: #333;
}

/* category */
.bd_category {
    margin: 10px 0;
    clear: both;
}
.bd_category:after {
    content: "";
    display: block;
    clear: both;
}
.bd_category ul {
    padding: 0;
    margin: 0;
    display: inline-block;
}
.bd_category ul li {
    list-style: none;
    float: left;
    padding: 0 20px;
    font-size: 12px;
    padding: 0;
    margin: 0 3px;
    border: 1px solid #ddd;
    border-top: 3px solid #ddd;
    border-radius: 4px;
    background: #fff;
}
.bd_category ul li:hover {
    border-top: 3px solid #587ef6;
}
.bd_category ul li:first-child {
    margin-left: 0;
}
.bd_category ul li a {
    display: block;
    padding: 8px 12px;
}
.bd_category .on {
    border-top: 3px solid #587ef6;
}
/* board list */
#bd_notice {
    background: #ecf7f8;
}
#bd_notice .bd_num {
    color: #587ef6;
    font-weight: 600;
}

/* 리스트형 게시판 */
#board a,
#board a:hover,
#board a:active,
#board a:visited {
    color: #333;
    text-decoration: none;
}
.bd_header:after {
    content: '';
    display: block;
    clear: both;
}
.bd_write {
    margin-right: 0;
}
.bd_group,
.bd_board {
    width: 110px;
    text-align: center;
}
.bd_group a:hover,
.bd_board a:hover {
    text-decoration: underline !important;
}
.read {
    font-weight: bold;
    color: #ff6699 !important;
}
.bd_subject {
    text-align: left;
    margin-right: 3px;
}
.bd_subject .subject_cg {
    font-weight: bold;
    color: #587ef6 !important;
    margin-right: 5px;
}
.bd_subject .bd_subject_title p {
    margin: 0;
    display: inline-block;
}
.bd_subject .bd_subject_title p:hover {
    text-decoration: underline;
}
.sch_key {
    background: yellow;
    color: #ff6699;
    font-weight: bold;
}
.bd_cmt {
    font-weight: 800;
    margin-left: 5px;
    font-size: 12px;
}
.bd_name {
    width: 10%;
    position: relative;
    text-align: left;
}
.bd_name .dropdown-menu {
    position: absolute;
    top: 33px;
    left: 40px;
    box-shadow: 0 0 2px #888;
    font-size: 12px;
}
.bd_re {
    color: #bbb;
}
.bd_re .up {
    color: #f53497;
}

/* 갤러리형 게시판 */
#gry {
    margin: 10px -15px;
    clear: both;
}
.gry {
    margin-bottom: 10px;
}
.gry_info {
    z-index: 1;
    padding: 15px;
    width: 100%;
    border: 1px solid #d8d8d8;
    border-top: 0;
    background: #fff;
}
.gry_img {
    width: 100%;
    min-height: 124px;
    border: 1px solid #d8d8d8;
    overflow: hidden;
    position: relative;
    background: #fff;
}
.gry_img img {
    top: 0;
    left: 0;
    position: absolute;
    height: auto;
    width: 100%;
    transition: all 0.2s;
}
.gry_img img:hover {
    transition: all 0.2s;
    opacity: 0.6;
    background: #fff;
}
.gry_img .gry_txt {
    display: block;
    background: #f7f7f7;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    box-sizing: border-box;
}
.gry_info p {
    font-weight: 600;
    margin-bottom: 0px;
    display: inline-block;
}
.gry_info span {
    font-size: 13px;
    color: #aaa;
    line-height: 1.8;
    display: inline-block;
}
.gry_info span.bd_nick .dropdown-menu {
    font-size: 12px;
    top: 260px;
    left: 30px;
}
#gry .bd_subject,
#gry .bd_subject a {
    margin: 0;
}
#gry i {
    margin-right: 5px;
}

/* 게시글 조회 */
.bd_rd_head {
    padding: 10px 0 30px;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}
.bd_rd_head:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 40px;
    border-bottom: 1px solid #d8d8d8;
}
.bd_rd_head h1 {
    margin: 0 0 15px 0;
}
.bd_rd_head .bd_rd_info {
    padding: 0;
    display: inline-block;
    color: #aaa;
    margin-bottom: 0;
    font-size: 12px;
}
.bd_rd_head .bd_rd_info li.post_info {
    list-style: none;
    float: left;
    margin: 0 10px;
    line-height: 22px;
}
.bd_rd_head .bd_rd_info li.post_info:first-child {
    margin-left: 0;
}
.bd_rd_head .bd_rd_info li.post_info i {
    margin-right: 7px;
}
.bd_rd_head .bd_rd_info li.post_info ul.dropdown-menu {
    top: 105px;
    left: 25px;
    font-size: 12px;
}
.bd_rd_head .bd_rd_btn {
    padding: 0;
    margin-bottom: 0;
    font-size: 15px;
    float: right;
}
.bd_rd_head .bd_rd_btn:after {
    content: "";
    display: block;
    clear: both;
}
.bd_rd_head .bd_rd_btn li.depth2 {
    list-style: none;
    float: left;
    margin: 0 8px;
}
.bd_rd_head .bd_rd_btn a {
    color: #333;
}
.bd_rd_head .bd_rd_btn .dropdown-menu {
    min-width: auto;
    text-align: center;
    margin-top: 5px;
    right: 0;
    left: auto;
}
.bd_rd_head .bd_rd_btn li .bdmenu {
    margin-top: 10px;
    padding: 0;
}
.bd_rd_head .bd_rd_btn li .bdmenu li {
    margin: 0;
}
@media (max-width: 767px) {
    .bd_rd_info {
        width: 100%;
    }
    .bd_rd_head .bd_rd_btn {
        display: inline-block;
        font-size: 18px;
        position: relative;
        top: 15px;
    }
    .bd_rd_head .bd_rd_info li.post_info {
        margin: 0 5px;
    }
}
@media (max-width: 767px) {

}
.bd_rd {
    line-height: 2;
    width: 100%;
    margin-bottom: 30px;
}
.bd_rd + .bd_rd_bt {
    margin-top: 30px;
}
.bd_rd p {
    margin-bottom: 0;
}
.bd_sign {
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
}
.bd_link {
    margin: 5px 0 30px 0;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0;
    background: #fff;
}
.bd_link i {
    font-size: 14px;
    margin-right: 5px;
}
.bd_link a {
    font-size: 14px;
    margin: 0 5px;
}
.downcount,
.movecount {
    font-size: 12px;
    color: #aaa;
    font-weight: normal;
}
.bd_file {
    font-size: 14px;
    font-weight: bold;
    color:#888;
    margin: 20px 0;
}
.bd_file i {
    margin-right: 5px;
}
.bd_title {
    display: inline-block;
}
.bd_title:hover {
    text-decoration: underline;
    cursor:pointer;
}
.bd_file_list {
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 4px;
    width:100%;
    position: relative;

    margin-top: 10px;
    background: #f2f5f9;
    display: none;
}
.bd_file_list:after {
    clear: both;
}
.bd_file_list li {
    list-style: none;
}
.bd_file_list li a {
    padding: 0;
    width: auto;
    display: inline;
    color: #888 !important;
}
.bd_file_list i {
    color: #587ef6;
    margin-right: 8px;
}
.bd_file a:hover,
.bd_link a:hover {
    text-decoration: underline !important;
}
.bd_add {
    margin-top: 30px;
}
.open + .bd_sign {
    margin-top: 20px;
}
.bd_add + .bd_rd_bt,
.bd_add + .bd_rd_bt {
    margin-top: 30px;
}
.bd_rd_bt:after {
    content: "";
    display: block;
    clear: both;
}
.content_move:first-child {
    margin-top: 15px;
}
.bd_rd_count {
    text-align: center;
    font-size: 0;
}
.bd_rd_count i {
    margin-right: 5px;
}
.bd_rd_count div.countBtn {
    margin: 20px 3px;
    border: 1px solid #d8d8d8;
    display: inline-block;
    font-size: 12px;
    padding: 8px 12px;
    background: #f2f5f9;
    position: relative;
}
.bd_rd_count strong {
    color: #ff6699;
}
#actGood, #actNoGood {
    display: block;
    border: 0;
    position: absolute;
    top: 38px;
    left: 0;
    padding: 10px 0;
    width: 167px;
    background: #587ef6;
    color: #fff;
    text-align: center;
}
.bd_rd_count + .bd_bna {
    padding-top: 0;
}
.bd_bna {
    padding: 18px 0;
}
.bd_bna ul li i,
.bd_bna ul li span,
.bd_bna ul li a {
    margin: 0 8px;
    font-size: 12px;
}
.wt_more {
    padding: 8px 0;
}
.bd_bna ul,
.wt_more .add {
    border-bottom: 1px solid #ddd;
    padding: 0;
}
.bd_bna ul li {
    list-style: none;
    padding: 12px 0;
    border-top: 1px solid #ddd;
    font-size: 0;
}
.wt_more .add .link,
.wt_more .add .file {
    list-style: none;
    border-top: 1px solid #ddd;
    font-size: 0;
    display: inline-block;
    width: 100%;
}
.wt_more .add .link,
.wt_more .add .file {
    font-size: 0;
    padding: 12px 0;
    width: 100%;
    display: block;
    cursor: pointer;
}
.wt_more .add .link_list,
.wt_more .add .file_list {
    padding: 0px 30px 13px;
}
.wt_more .add .link_list .item,
.wt_more .add .file_list .item {
    padding: 2px 0;
}
.wt_more .add .file_list .item input {
    margin: 8px 0;
}
.wt_more .add .link i,
.wt_more .add .link span,
.wt_more .add .file i,
.wt_more .add .file span {
    font-size: 14px;
    margin: 0 8px;
}
.bd_bna ul li i,
.wt_more .add .link i,
.wt_more .add .file i {
    color: #587ef6;
}
.wt_more .add .link .dropdown-menu,
.wt_more .add .file .dropdown-menu {
    position: relative;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    padding-left: 15px;
    margin-bottom: 10px;
}
.wt_more .add .link .dropdown-menu .form-group,
.wt_more .add .file .dropdown-menu .form-group {
    margin-bottom: 10px;
}
.wt_more .add .file .dropdown-menu .form-group .form-control {
    margin-top: 10px;
}
.wt_more .add .open i {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.bd_bna ul li span {
    color: #bbb;
}
.bd_bna ul li a:hover {
    text-decoration: underline !important;
}
.bd_rd_bt:before {
    content: "";
    left: 0;
    height: 1px;
    width: 40px;
    border-top: 1px solid #d8d8d8;
    padding-top: 30px;
}
.bd_rd_cmthd {
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 0;
}
#bd_rd_cmt {
    border-bottom: 1px solid #d8d8d8;
}
.cmt {
    width: 100%;
    display: inline-block;
}
.cmt_reply {
    border-top: 1px  !important;
}
.cmt_reply:before {
    content: "";
    display: block;
    background: url("../images/reply.gif");
    width: 10px;
    height: 10px;
    margin: 3px 7px 0 0;
    float: left;
}
.bd_reply:before {
    content: "";
    display: block;
    background: url("../images/reply.gif");
    width: 10px;
    height: 10px;
    margin: 3px 7px 0 0;
    float: left;
}
.cmt_box {
    float: left;
    display: block;
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 8px 0;
}
.cmt:first-child .cmt_box {
    border-top: 0;
}
.cmt_box:after {
    content: "";
    display: block;
    clear: both;
}
.bd_rd_cmt_img {
    margin-right: 20px;
    width: 80px;
    height: 80px;
}
.bd_rd_cmt_img img {
    width: 100%;
    height: 100%;
}
.bd_rd_cmt_info,
.bd_rd_cmt_ctr {
    padding: 0;
    display: inline-block;
    margin: 0;
    color: #aaa;
    font-size: 12px;
}
.bd_rd_cmt_ctr {
    float: right;
}
.bd_rd_cmt_info li,
.bd_rd_cmt_ctr li {
    list-style: none;
    float: left;
    margin: 0 5px;
}
.bd_rd_cmt_info li:first-child,
.bd_rd_cmt_ctr li:first-child {
    margin-left: 0;
}
.bd_rd_cmt_info .td_nick ul li {
    width: 100%;
    margin: 0;
}
.bd_rd_cmt_info li i,
.bd_rd_cmt_ctr li i {
    margin-right: 7px;
}
.bd_rd_cmt_info li.td_nick .dropdown-menu {
    top: 20px;
    left: 20px;
    font-size: 12px;
}
.bd_rd_cmt_info li.post_info {
    line-height: 22px;
}
.bd_rd_cmt_view {
    line-height: 1.7;
}
.bd_rd_cmt_view p {
    margin-bottom: 0;
}
.cmt_write {
    padding: 30px 0;
}
.cmt_write textarea {
    margin: 10px 0;
}
.info_user {
    font-size: 0;
    margin-top: 10px;
}
.info_user .form-group {
    margin: 0 5px;
}
.info_user .form-group:first-child {
    margin-left: 0;
}
.info_user .has-error {
    font-size: 13px;
}
@media (max-width: 767px) {
    .info_user .form-group {
        margin: 0 0 5px 0;
    }
}
.cmt_checkbox,
.cmt_character {
    margin-bottom: 10px;
}
.cmt_checkbox {
    display: inline-block;
}
.cmt_checkbox label {
    margin: 0;
}
.cmt_checkbox label span {
    font-size: 14px;
    font-weight: normal;
}
.cmt_checkbox input[type=checkbox] {
    margin-right: 5px;
}
.cmt_character {
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    vertical-align: middle;
    float: right;
}

/* write */
.bd-save {
    padding-left: 0;
}
@media (max-width: 768px) {
    .bd-save {
        display: none;
    }
}
.bd-save .dropdown-menu {
    left: 0;
    right: auto;
    font-size: 12px;
}
.bd-save .dropdown-menu a {
    display: inline-block;
    padding: 3px 15px;
}
.sv-date {
    color: #bbb;
    font-size: 10px;
    margin-left: 5px;
    float: right;
}
.save-subject {
    width: 209px;
    display: inline-block;
}
.save-delete {
    padding: 3px 15px 3px 0 !important;
    float: right;
}
.save-delete:hover {
    background: none !important;
}

/* search */
.bd_sch {
    width: 100%;
    font-size: 12px;
}
.bd_sch:after {
    content: '';
    display: block;
    clear: both;
}
.bd_sch ul {
    padding: 0;
    margin: 0;
}
.bd_sch ul li {
    list-style: none;
    float: left;
    margin: 0 2px;
}
.bd_sch select {
    height:34px; padding:6px; border: 1px solid #ccc;
}
.bd_sch .search {
    height:34px; padding:6px; border: 1px solid #d8d8d8; margin-right: -4px;
}
.bd_sch .search-icon {
    border: 0; background: #fff; margin-left: -30px; outline: none;
}
@media (max-width: 767px) {
    .bd_head a {
        clear: both;
    }
    .bd_sch {
        clear: both;
        font-size: 0;
    }
    .bd_sch #kind,
    .bd_sch #keyword,
    .bd_sch .search-icon {
        font-size: 12px;
    }
    .bd_sch #kind {
        width: 100%;
        clear: both;
        margin-bottom: 5px;
    }
    .bd_sch #keyword {
        margin: 0;
        width: 90%;
    }
    .bd_sch .search-icon {
        margin: 0;
        width: 10%;
        line-height: 32px;
        background: #d8d8d8;
    }
}