@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

/* common */
body {
  background:#efefef;
  font-family:'Nanum Gothic','돋움', sans-serif;
}
.empty_table {
    line-height: 150px;
    color: #587ef6;
    font-size: 14px;
    font-weight: 600;
}
div {
	word-wrap:break-word
}

/* margin reset */
.mb0  {margin-bottom: 0;}
.mb5  {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}

.mr0  {margin-right: 0px;}
.mr5  {margin-right: 5px;}


/* header */
#header {
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 40px;
}
#header .logo {
	float: left;
	margin: 0 0 0 15px;
	line-height: 80px;
}
#header .title {
	border-bottom: 3px solid #587ef6;
	line-height: 58px;
	display: inline-block;
	margin-bottom: -1px;
	font-size: 16px;
	font-weight: 600;
}
#header a {
	color: #333;
	text-decoration: none;
}
#header a:hover {
	color: #587ef6 !important;
	text-decoration: underline;
}
#header a:active,
#header a:visited {
	color: #333;
	text-decoration: none;
}
#header ul {
	padding: 0px;
}
#header ul li {
	list-style: none;
}
#header .gnb {
	margin: 0;
}
#header .gnb .gnb-li {
	list-style: none;
	border-bottom: 1px solid #d8d8d8;
}
#header .navbar-nav .gnb-li a {
	display: block;
	width: 100%;
	padding: 15px;
}
#header .gnb .gnb-li:last-child {
	border: 0;
}
#header .user {
	font-size: 2em;
	vertical-align: middle;
	color: #587ef6;
}
#header .cbtn {
	float: right;
	margin-top: 13px;
}
#header .cbtn:after {
	content: "";
	display: block;
	clear: both;
}
#header .cbtn button {
	margin: 0 2px;
}
.btn-sir {
	color: #fff !important;
	background-color: #587ef6;
	border-color: #587ef6;
}
.btn-sir:hover {
	background-color: #3e63d6;
	border-color: #3e63d6;
}
.navbar-toggle {
	border-color: #ddd;
	line-height: 80px;
	margin: 23px 15px;
}
.navbar-toggle .icon-bar {
	background-color: #ccc;
}
#navbar {
	border-top: 1px solid #d8d8d8;
	padding: 0;
}
@media (min-width: 768px) {
	#header .logo {
		margin: 0;
	}
	#header .navbar-nav {
		margin: 0;
		padding: 0;
		float: right;
	}
	#header .navbar-nav .gnb-li {
		float: left;
		padding: 0 10px;
		border: 0;
	}
	#header .navbar-nav .gnb-li:last-child {
		padding: 0 0 0 10px;
	}
	#header .navbar-nav .gnb-li a {
		padding: 0;
		line-height: 80px;
	}
	#navbar {
		border: 0;
	}
	.dropdown-menu {
	left: auto;
	right: 0;
	box-shadow: none;
	border-radius: 0;
	border: 1px solid #d8d8d8;
	margin-top: 0;
	}
	#header .navbar-nav .gnb-li ul li a {
		padding: 10px;
		line-height: 20px;
	}
	#header .navbar-nav .gnb-li ul li a:hover {
		text-decoration: none;
	}
}

/* form */

.bg-sir {
	background-color: #587ef6 !important;
	color: #fff !important;
}
.sr-only-input {
	margin-top: -20px;
}


/* content */
.mdline-title {
	margin: 15px 0;
	background: url('../images/centerline.png') center center repeat-x;
}
.mdline-title span {
	padding: 0 7px;
	background: #fff;
	color: #aaa;
}

.heading-p {
	display: block;
	padding: 0 0 5px 0;
	border-bottom: 1px solid #d8d8d8;
}
.heading-span {
	margin: 0 -15px;
	padding: 0 0 5px 0;
	font-weight: bold;
	color: #587ef6;
	border-bottom: 1px solid #587ef6;
}

.helpbox {
	padding: 15px;
	margin-top: 5px;
}
.helpbox > p {
	margin: 0;
}
.help {
	padding: 10px 15px;
	border-radius: 4px;
	line-height: 1.7;
	font-size: 12px;
}
/* footer */
#footer {
	width: 100%;
	padding: 30px 0;
	margin-top: 40px;
	font-size: 1em;
	color: #aaa;
	text-align: center;
}

/* table */
.table {
	width: 100%;
	max-width: 100%;
	margin: 10px 0;
	background-color: #fff;
	border: 1px solid #d8d8d8;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	padding: 10px 15px;
	font-size: 12px;
	line-height: 22px;
}
.table>thead>tr>th {
	text-align: center;
	border-bottom: 2px solid #d8d8d8;
	font-weight: bold;
	font-size: 14px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
	background: #f5f5f5;
}

/* pagination */
.pagination {
	margin: 20px auto;
	display: table;
	font-size: 12px;
}
.pagination>li>a,
.pagination>li>span {
	color: #555;
}
.pagination>li>a:hover,
.pagination>li>span:hover {
	color: #0000FF;
	background-color: #f7f7f7;
	font-weight: 600;
	text-decoration: underline;
}

/* 포인트 내역 */
#pt .box {
	padding: 15px;
	border-radius: 5px;
	background: #fff;
	text-align: center;
	line-height: 1.3;
	border: 1px solid #d8d8d8;
}
#pt .mypoint {
	margin: 0;
}
#pt .mypoint_num {
	font-weight: 800;
	color: #587ef6;
	font-size: 33px;
	letter-spacing: -1px;
}
#pt .table .total {
	border-top: 2px solid #d8d8d8;
	font-weight: 600;
	background: #fff;
}
.pt_con {
	text-align: left;
}

/* 포인트 관리 */
#pt_btn {
	padding: 0;
}
#pt_btn li {
	list-style: none;
	float: left;
	margin-right: 5px;
}
#pt_btn li:last-child {
	margin-right: 0;
}
#pt_btn li:after {
	content: '';
	display: block;
	clear: both;
}
#pt_btn span {
	line-height: 34px; font-size: 14px;
}
#pt_sch select {
	height:34px; padding:6px; border: 1px solid #ccc;
}
#pt_sch .search {
	height:34px; padding:6px; border: 1px solid #d8d8d8; margin-right: -4px;
}
#pt_sch .search-icon {
	border: 0; background: #fff; margin-left: -30px; outline: none;
}
#pt_change {
	margin: 40px 0;
}

/* 리스트형 게시판 */
#board .table>thead,
#bd_move .table>thead {
	background: #f0f0f0;
}
#board a,
#board a:hover,
#board a:active,
#board a:visited {
	color: #333;
	text-decoration: none;
}
.bd_head {
	line-height: 34px; vertical-align: bottom; font-weight: 600;
}
.bd_btn {
	padding: 0; 
	margin-bottom: 0;
}
.bd_btn:after {
	content: '';
	display: block;
	clear: both;
}
.bd_btn ul {
	padding: 0; 
	margin-bottom: 0;
	float: right;
}
.bd_btn ul li {
	list-style: none;
	float: left;
	margin-right: 5px;
}
.bd_btn ul li:last-child {
	margin-right: 0;
}
.bd_btn ul:after {
	content: '';
	display: block;
	clear: both;
}
.bd_btn span {
	line-height: 34px; font-size: 14px;
}
.bd_adm li {
	width: 100%;
	margin: 0;
}
.bd_adm input {
	border: 0;
	background: none;
	width: 100%;
	text-align: left;
	padding: 3px 20px;
}
.bd_adm input:hover {
	background: #f5f5f5;
}
.bd_category {
	margin-top: 10px;
}
.bd_category:after {
	content: '';
	display: block;
	clear: both;
}
.bd_category ul {
	padding: 0;
	margin: 0;
	display: inline;
}
.bd_category ul li {
	list-style: none;
	float: left;
	padding: 0 20px;
	font-size: 12px;
	padding: 8px 12px;
	margin: 0 3px;
	border: 1px solid #ddd;
	border-top: 3px solid #ddd;
	border-radius: 4px;
	background: #fff;
}
.bd_category ul li:hover {
	border-top: 3px solid #587ef6;
}
.bd_category ul li:first-child {
	margin-left: 0;
}
.bd_category .on {
	border-top: 3px solid #587ef6;
}
.bd_write {
	margin-right: 0;
}
.bd_num,
.bd_check,
.bd_subject,
.bd_date,
.bd_name,
.bd_hits,
.bd_re,
.bd_nre {
	vertical-align: middle;
	text-align: center;
}
.bd_num,
.bd_check,
.bd_date,
.bd_hits,
.bd_re,
.bd_nre {
	width: 7%;
}
.table thead tr th input[type=checkbox],
.table thead tr th input[type=radio],
.bd_check > input[type=checkbox],
.bd_check > input[type=radio] {
	margin: 0 0 0;
	vertical-align: middle;
}
.read {
	font-weight: bold;
	color: #ff6699;
}
.bd_subject {
	text-align: left;
	margin-right: 3px;
}
.sch_key {
	background: yellow;
	color: #ff6699;
	font-weight: bold;
}
.bd_cmt {
	font-weight: 800;
 	margin-left: 5px;
 	font-size: 12px;
}
.bd_name {
	width: 10%;
	position: relative;
}
.bd_name .dropdown-menu {
	position: absolute;
	top: 33px;
	left: 40px;
	box-shadow: 0 0 2px #888;
	font-size: 12px;
}
.bd_re {
	color: #bbb;
}
.bd_re .up {
	color: #f53497;
}
#bd_notice {
	background: #ecf7f8;
}
#bd_notice .bd_num {
	color: #587ef6;
	font-weight: 600;
}

/* 갤러리형 게시판 */
#gry {
	margin: 10px -15px;
}
.gry_info {
	z-index: 1;
	padding: 15px;
	width: 100%;
	border: 1px solid #d8d8d8;
	border-top: 0;
	background: #fff;
}
.gry_img {
	width: 100%;
	min-height: 150px;
	border: 1px solid #d8d8d8;
	overflow: hidden;
	position: relative;
}
.gry_img img {
	top: 0;
	left: 0;
	position: absolute;
	height: auto;
	width: 100%;
	transition: all 0.2s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.gry_img img:hover {
	top: -10px;
	transition: all 0.2s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	opacity: 0.6;
	background: #fff;
}
.gry_info p {
	font-weight: 600; margin-bottom: 5px;
}
.gry_info span {
	font-size: 13px; color: #aaa; margin-right: 10px;
}
#gry i {
	margin-right: 5px;
}

/* 게시글 조회 */
.bd_rd_head {
	padding: 30px 0;
	position: relative;
	z-index: 1;
	margin-bottom: 30px;
}
.bd_rd_head:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	width: 40px;
	border-bottom: 1px solid #d8d8d8;
}
.bd_rd_head h1 {
	margin: 0 0 15px 0;
}
.bd_rd_head .bd_rd_info {
	padding: 0;
	display: inline-block;
	color: #aaa;
	margin-bottom: 0;
	font-size: 12px;
}
.bd_rd_head .bd_rd_info li {
	list-style: none;
	float: left;
	margin: 0 10px;
}
.bd_rd_head .bd_rd_info li:first-child {
	margin-left: 0;
	
}
.bd_rd_head .bd_rd_info li i {
	margin-right: 7px;
}
.bd_rd_head .bd_rd_btn {
	padding: 0;
	margin-bottom: 0;
	font-size: 15px;
	float: right;
}
.bd_rd_head .bd_rd_btn:after {
	content: "";
	display: block;
	clear: both;
}
.bd_rd_head .bd_rd_btn li {
	list-style: none;
	float: left;
	margin: 0 8px;
}
.bd_rd_head .bd_rd_btn li:last-child {
	margin-right: 0;
}
.bd_rd_head .bd_rd_btn a {
	color: #333;
}
.bd_rd_head .bd_rd_btn .dropdown-menu {
	min-width: auto;
	text-align: center;
	margin-top: 20px;
}
.bd_rd_head .bd_rd_btn li .bdmenu {
	margin-top: 10px;
	padding: 0;
}
.bd_rd_head .bd_rd_btn li .bdmenu li {
	margin: 0;
}
.bd_rd_more {

}
.bd_rd {
	line-height: 2;
	width: 100%;
}
.bd_rd + .bd_rd_bt {
	margin-top: 30px;
}
.bd_sign {
	border: 1px solid #ddd;
	border-radius: 4px;
	background: #fff;
	padding: 10px 15px;
	display: inline-block;
	width: 100%;
}
.bd_link {
	margin: 5px 0 30px 0;
	padding: 10px 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 0;
	background: #fff;
}
.bd_link i {
	font-size: 14px;
	margin-right: 5px;
}
.bd_link a {
	font-size: 14px;
	margin: 0 5px;
}
.downcount,
.movecount {
	font-size: 12px;
	color: #aaa;
	font-weight: normal;
}
.bd_file {
	font-size: 14px;
	font-weight: bold;
	color:#888;
	margin: 20px 0;
}
.bd_file i {
	margin-right: 5px;
}
.bd_title {
	display: inline-block;
}
.bd_title:hover {
	text-decoration: underline;
	cursor:pointer;
}
.bd_file_list {
	border: 1px solid #ddd;
	padding: 10px 15px;
	border-radius: 4px;
	width:100%;
	position: relative;

	margin-top: 10px;
	background: #f2f5f9;
	display: none;
}
.bd_file_list:after {
	clear: both;
}
.bd_file_list li {
	list-style: none;
}
.bd_file_list li a {
	padding: 0;
	width: auto;
	display: inline;
	color: #888 !important;
}
.bd_file_list i {
	color: #587ef6;
	margin-right: 8px;
}
.bd_file a:hover,
.bd_link a:hover {
	text-decoration: underline !important;
}
.bd_add {
	margin-top: 30px;
}
.open + .bd_sign {
	margin-top: 20px;
}
.bd_add + .bd_rd_bt,
.bd_add + .bd_rd_bt {
	margin-top: 30px;
}
.bd_rd_bt:after {
	content: "";
	display: block;
	clear: both;
}
.bd_rd_count {
	text-align: center;
	font-size: 0;
}
.bd_rd_count i {
	margin-right: 5px;
}
.bd_rd_count span {
	margin: 20px 3px;
	border: 1px solid #d8d8d8;
	display: inline-block;
	font-size: 12px;
	padding: 8px 12px;
	background: #f2f5f9;
	position: relative;
}
.bd_rd_count strong {
	color: #ff6699;
}
#actgood, #actnogood {
	/*display: none;*/
	border: 0;
    position: absolute;
    top: 20px;
    left: -4px;
    padding: 10px 0;
    width: 167px;
    background: #587ef6;
    color: #fff;
    text-align: center;
}
.bd_rd_count + .bd_bna {
	padding-top: 0;
}

.bd_bna {
	padding: 18px 0;
}
.wt_more {
	padding: 8px 0;
}
.bd_bna ul,
.wt_more .add {
	border-bottom: 1px solid #ddd;
	padding: 0;
}
.bd_bna ul li {
	list-style: none;
	padding: 12px 0;
	border-top: 1px solid #ddd;
	font-size: 0;
}
.wt_more .add .link,
.wt_more .add .file {
	list-style: none;
	border-top: 1px solid #ddd;
	font-size: 0;
	display: inline-block;
	width: 100%;
}
.bd_bna ul li i,
.bd_bna ul li span,
.bd_bna ul li a {
	margin: 0 8px;
	font-size: 12px;
}
.wt_more .add .link a,
.wt_more .add .file a {
	font-size: 0;
	padding: 12px 0;
	width: 100%;
	display: block;
}
.wt_more .add .link i,
.wt_more .add .link span,
.wt_more .add .file i,
.wt_more .add .file span {
	font-size: 14px;
	margin: 0 8px;
}
.bd_bna ul li i,
.wt_more .add .link i,
.wt_more .add .file i {
	color: #587ef6;
}
.wt_more .add .link .dropdown-menu,
.wt_more .add .file .dropdown-menu {
	position: relative;
	width: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	background: none;
	padding-left: 15px;
	margin-bottom: 10px;
}
.wt_more .add .link .dropdown-menu .form-group,
.wt_more .add .file .dropdown-menu .form-group {
	margin-bottom: 10px;
}
.wt_more .add .file .dropdown-menu .form-group .form-control {
	margin-top: 10px;
}
.wt_more .add .open i {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.bd_bna ul li span {
	color: #bbb;
}
.bd_bna ul li a:hover {
	text-decoration: underline !important;
}

.bd_rd_bt:before {
	content: "";
	left: 0;
	height: 1px;
	width: 40px;
	border-top: 1px solid #d8d8d8;
	padding-top: 30px;
}

.bd_rd_cmthd {
	font-size: 18px;
	font-weight: 600;
	line-height: 35px;
	margin-bottom: 0;
}
#bd_rd_cmt {
	border-bottom: 1px solid #d8d8d8;
}
.cmt {
	width: 100%;
	display: inline-block;
}
.cmt_reply {
	border-top: 1px  !important;
}
.cmt_reply:before {
	content: "\f112";
	font-family: FontAwesome;
	font-size: 12px;
	margin-left: -25px;
	margin-top: -3px;
	float: left;
	color: #aaa;

	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.bd_reply:before {
	content: "\f112";
	font-family: FontAwesome;
	font-size: 12px;
	margin-right: 7px;
	float: left;
	color: #aaa;

	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.cmt_box {
	float: left;
	display: block;
	width: 100%;
	border-top: 1px solid #ddd;
	padding: 15px 0;
}
.cmt:first-child .cmt_box {
	border-top: 0;
}
.cmt_box:after {
	content: "";
	display: block;
	clear: both;
}
.bd_rd_cmt_img {
	margin-right: 20px;
	width: 80px;
	height: 80px;
}
.bd_rd_cmt_img img {
	width: 100%;
	height: 100%;
}
.bd_rd_cmt_info,
.bd_rd_cmt_ctr {
	padding: 0;
	display: inline-block;
	margin: 0 0 5px 0;
	color: #aaa;
	font-size: 12px;
}
.bd_rd_cmt_ctr {
	float: right;
}
.bd_rd_cmt_info li,
.bd_rd_cmt_ctr li {
	list-style: none;
	float: left;
	margin: 0 5px;
}
.bd_rd_cmt_info li:first-child,
.bd_rd_cmt_ctr li:first-child {
	margin-left: 0;
}
.bd_rd_cmt_info li i,
.bd_rd_cmt_ctr li i {
	margin-right: 7px;
}
.bd_rd_cmt_view {
	line-height: 1.7;
}
.bd_rd_cmt_view p {
	margin-bottom: 0;
}

.cmt_write {
	padding: 30px 0;
}
.cmt_write textarea {
	margin: 10px 0;
}
.info_user {
	font-size: 0;
}
.info_user .form-group {
	margin: 0 5px;
}
.info_user .form-group:first-child {
	margin-left: 0;
}
@media (max-width: 767px) {
	.info_user .form-group {
		margin: 0 0 5px 0;
	}
}
.checkbox {
	font-size: 14px;
}
.checkbox input[type=checkbox] {
	margin-right: 5px;
}

/* main list */
.lt {
	padding: 20px;
	min-height: 190px;
	background: #fff;
	margin: 15px 0;
}
	@media (max-width: 768px) {
		.lt {
			min-height: auto;
			margin: 7.5px 0;
		}
	}
.lt_head {
	margin-bottom: 10px;
}
.lt_head:after {
	content: "";
	display: block;
	clear: both;
}
.lt_board {
	font-size: 18px;
	font-weight: 600;
}
.lt_more {
	border: 1px solid #d8d8d8;
	padding: 10px;
	background: url('../images/plus.gif') 50% 50% no-repeat;
}
.lt_list {
	padding: 0;
	font-size: 0;
}
.lt_list li:before {
	content: "-";
	margin-right: 5px;
	font-size: 12px;
}
.lt_list li {
	list-style: none;
	margin: 5px 0;
}
.lt_subject,
.lt_date {
	font-size: 12px;
}
.lt_subject a {
	color: #333;
}
.lt_cmt {
	font-weight: 600;
	font-size: 9px;
}
.lt_date {
	float: right;
	color: #bbb;
}

/* write */
.bd-save {
	padding-left: 0;
}
@media (max-width: 768px) {
	.bd-save {
		display: none;
	}
}
.bd-save .dropdown-menu {
	left: 0;
	right: auto;
	font-size: 12px;
}
.bd-save .dropdown-menu a {
	display: inline-block;
	padding: 3px 15px;
}
.sv-date {
	color: #bbb;
	font-size: 10px;
	margin-left: 5px;
	float: right;
}
.save-subject {
	width: 209px;
	display: inline-block;
}
.save-delete {
	padding: 3px 15px 3px 0 !important;
	float: right;
}
.save-delete:hover {
	background: none !important;
} 

.td_chk {
	text-align: center;
}
.td_chk input[type=checkbox] {
	margin: 0;
	vertical-align: middle;
}
.td_numsmall,
.td_chk {
	width: 55px !important;
}
#bd_move label {
	font-weight: normal;
	margin: 0;
	font-size: 0;
}
#bd_move i {
	margin: 0 8px;
	font-size: 12px;
}
#bd_move span {
	font-size: 12px;
}
#bd_move .gr0 {
	color: #aaa;
}
#bd_move .gr1 {
	color: #ff6699;
}
#bd_move .on {
	background: #f4f4f4;
}
#bd_move .on .here {
	color:#ff6699;
	float: right;
	font-weight: bold;
}
#bd_move .on .here:after {
	content: "";
	display: block;
	clear: both;
}