@charset "UTF-8";
@import url(SpoqaHanSans-kr.css);

/* basic */
* { font-family: Spoqa Han Sans, Sans-serif; }

/* header */

#header {
	width: 100%;
	height: 80px;
	background: #fff;
	border-bottom: 1px solid #d8d8d8;
}
#header h1 {
	float: left;
	margin: 0;
	line-height: 80px;
}
#header nav {
	float: right;
}
#header:after {
	content: '';
	display: block;
	clear: both;
}