@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

body {
  background:#efefef;
  font-family:'Nanum Gothic','돋움', sans-serif;
}

/* header */
#header {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 40px;
}
#header .logo {
    float: left;
    margin: 0 0 0 15px;
    line-height: 80px;
}
#header a {
    color: #333;
    text-decoration: none;
}
#header a:hover {
    color: #587ef6 !important;
    text-decoration: underline;
}
#header a:active,
#header a:visited {
    color: #333;
    text-decoration: none;
}
#header ul {
    padding: 0px;
}
#header ul li {
    list-style: none;
}
#header .gnb {
    margin: 0;
}
#header .gnb .gnb-li {
    list-style: none;
    border-bottom: 1px solid #d8d8d8;
}
#header .navbar-nav .gnb-li a {
    display: block;
    width: 100%;
    padding: 15px;
}
#header .gnb .gnb-li:last-child {
    border: 0;
}

/* header search input */
.hd_sch {
    float: left;
    padding: 27px 0;
    margin-left: 20px;
}
.hd_sch:after {
    content: '';
    display: block;
    clear: both;
}
.hd_sch fieldset {
}
.hd_sch legend {
    font-size: 0;
    line-height: 0;
    display: none;
}
.hd_sch input[type="text"] {
    border: 0;
    float: left;
    line-height: 20px;
    padding: 5px 8px;
    border: 1px solid #d8d8d8;
    width: 140px;
}
.hd_sch input[type="submit"] {
    background: #587ef6;
    color: #fff;
    padding: 5px 8px;
    border: 1px solid #587ef6;
}
@media  (max-width: 767px) {
    .hd_sch {
        float: none;
        width: 100%;
        padding: 15px;
        margin: 0;
        border-bottom: 1px solid #d8d8d8;
    }
    .hd_sch input[type="text"] {
        width: 85%;
    }
    .hd_sch input[type="submit"] {
        width: 15%;
    }
}
.memocount {
    background: #587ef6;
    padding: 0 7px;
    height: 20px;
    border-radius: 10px;
    display: block;
    text-align: center;
    color: #fff;
    float: right;
    font-size: 11px;
}
#header .user {
    font-size: 2em;
    vertical-align: middle;
    color: #587ef6;
}
.navbar-toggle {
    border-color: #ddd;
    line-height: 80px;
    margin: 23px 15px;
}
.navbar-toggle .icon-bar {
    background-color: #ccc;
}
#navbar {
    border-top: 1px solid #d8d8d8;
    padding: 0;
}
@media (min-width: 768px) {
    #header .logo {
        margin: 0;
    }
    #header .navbar-nav {
        margin: 0;
        padding: 0;
        float: right;
    }
    #header .navbar-nav .gnb-li {
        float: left;
        padding: 0 10px;
        border: 0;
    }
    #header .navbar-nav .gnb-li:last-child {
        padding: 0 0 0 10px;
    }
    #header .navbar-nav .gnb-li a {
        padding: 0;
        line-height: 80px;
    }
    #navbar {
        border: 0;
    }
    #header .dropdown-menu {
    left: auto;
    right: 0;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #d8d8d8;
    margin-top: -15px !important;
    }
    #header .dropdown-menu:before {
    content: "";
    display: block;
    background: #fff;
    width: 13px;
    height: 11px;
    background: url(../../../images/dropdown.png) no-repeat;

    position: absolute;
    right: 12px;
    top: -10px;
    }
    #header .navbar-nav .gnb-li ul li a {
        padding: 10px;
        line-height: 20px;
    }
    #header .navbar-nav .gnb-li ul li a:hover {
        text-decoration: none;
    }
}

/* contents */
#contents {
    min-height: 707px;
}
@media (max-width: 767px) {
    #contents {
        min-height: 100%;
    }
}

/* footer */
#footer {
    width: 100%;
    margin-top: 70px;
    border-top: 1px solid #d8d8d8;
    color: #999;
    background-color: #fff;
}
#ft_copy {
    padding: 20px 0;
    background: #333;
    color: #fff
    font-size: 13px;
    margin-left: -5px;
}
#ft_copy a {
    font-size: 13px;
    color: #fff;
    margin: 0 5px;
}
#ft_copy .copy {
    margin: 25px 5px 0;
    line-height: 1.7;
}
.upbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #587ef6;
    right: 20px;
    bottom: 90px;
    z-index: 1;
    text-align: center;
    display: none;
}
.upbtn:hover {
    background: #395ac1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.upbtn a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 50px;
    padding: 18px 20px;
}
.upbtn i {
    vertical-align: top;
}
